<!DOCTYPE html>
<html>
<head>
<!--     <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/15.4.1/react-dom.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.0-alpha1/JSXTransformer.js"></script>

    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.ocean.js"></script>

    <script type="text/jsx" src="../bower_components/react-fusioncharts-plugin/react-fusioncharts.min.js"></script>
 -->	
	<title>Building FusionCharts with React</title>
</head>
<body>
	<div style="text-align:center;" id="chart-container"> FusionCharts will render here... </div>
	<script type="text/jsx" src="../js/ex1.js"></script>
</body>
</html>